.app-container {
    text-align: center;
}

.menuItem-container {
    margin: auto;
    width: 80%;
    border: 1px solid black;
    text-align: left;
}
.menuItem-link {
    text-decoration: underline;
}