.dashboard-container {
    text-align: center;
}

.menuItem-container {
    margin: auto;
    width: 60%;
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: center;
}

.menuItem-text {
    text-align: justify;
}

.episode-container {
    margin: auto;
    text-align: center;
    width: 60%;
}

.episode-reactPlayer {
    transform: none;
    margin: auto;
}